
@{
    ViewBag.Title = "NumResul";
}


@{

    String primos = (string)ViewBag.primos;
    int suma = (int)ViewBag.suma;
    string numero = (string)ViewBag.numero;
    string nombre = (string)ViewBag.nombre;

}

<div class="row">
    
    <h5>@nombre Ingresaste el Numero: @numero</h5>
    <h5>La secuencia de primos es: @primos</h5>
    <h5>La suma es: @suma</h5>

    
</div>